@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
--font-um:verdana,geneva,sans-serif;
--font-passion:'Passion One', cursive;
--font-sriracha:'Sriracha', cursive;




}






*{
    padding: 0px;
    margin: 0px;
}
html,body {
background-color: darkgrey;
    min-height: 100vh;
    font-family: var(--font-um);
    font-size: 1em;
} 
header{
    background-color: black;
    color: aliceblue;
    text-align: center;

}
header > h1{
    font-family: var(--font-passion);
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 10vw;

}
header > p{
    padding-bottom:50px ;
}



 a{
    color: aliceblue;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
    color: rgb(242, 136, 7);
}

section{
    padding-left: 30px;
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
    font-family: var(--font-sriracha);
    font-size: 3vw;
}


.normal{
    background-color: rgba(0, 0, 0, 0.206);
    color: aliceblue;
}


.imagem{
    background-color: rgba(17, 40, 40, 0.705);
    color: aliceblue;
    
}
section.imagem > p{
    display:inline-block;
    padding:5px;
    background-color: rgba(0, 0, 0, 0.309);
    width: 400px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px;
    
}