@charset "UTF-8";
@font-face {
    font-family: font;
    src: url(idroid/IDroid.otf) format('opentype');
}
    body{
        font-family:Arial, Helvetica, sans-serif ;
        color: rgb(0, 0, 0);
        font-weight: bold;
        background-color: #000000;

    }
    header{
        font-family: font;
        color: #000000;
        background-image: linear-gradient(to left,#1cff008c,#7bab77);
        text-align: center;
        border: solid 2px rgb(59, 240, 53);
        padding: 20px 10px 40px 10px;
    }
nav{
    text-align: left;
    color: #000000;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}



    main{
        background-color: #545746;
        font-family: Arial, Helvetica, sans-serif;
        padding: 18px 2px 10px 0x;
        margin:  0px 20px 1px 20px;
        border-radius: 0px 0px 10px 10px;
        border: solid 2px #3bf035;
    }
    p{
        text-align: justify;
    }

    article{
        background-color: #000000;
margin: 30px 20px 30px 20px;
padding: 0px 1px 20px 1px;

    }
    #video{
        background-image:linear-gradient(to left,#000000,#3bf035);
        color: #000000;
        font-family: font;  
        margin: 30px 20px 30px 20px;
padding: 0px 1px 20px 1px;
    }
       
   #cor{
    background-image:linear-gradient(to left,#000000,#3bf035);
    color: #000000;
    font-family: font;
   } 
    h3{
        background-color: #545746;
        color: white;
        border-radius: 15px;
       margin: 0px 0px 0px 0px;
        padding: 11px 12px 8px 8px;
    }
    footer{
        color: #3bf035;
    }